@mixin font {
    font-family: 'Source Sans Pro', sans-serif;       
}

@mixin underline($width, $height, $bottom, $left) {
    content: "";
    display: block;
    width: $width;
    height: $height;
    bottom: $bottom;
    left: $left;
    position: absolute;
    z-index: -2;
    background-color: $underlineColor;
}

$font-weights: ("light": 400, "norm": 500, "boldd": 600, "extra": 700);

body {
    margin: 0;
    background-color: $pageBackground;

    .header {
        margin: 0;
        background: $headerBackground;
        background-size: cover;
        background-position: center;
        border-radius: 0 0 620px/310px 0;
        height: 900px;
        display: flex;
        width: 100%;
        justify-content: center;
    
        .header-wrap {
            max-width: 1200px;
            width: 100%;
        .login{
                    color:white;
                    font-size: 25px;
            padding-left: 150px;
                }
            .landing-logo {
                display: flex;
            
                img {
                    margin: 25px 20px 0 0;
                    width: 55px;
                    height: 55px;
                }
            
                p {
                    display: flex;
                    flex-direction: column;
                    margin-top: 30px;
                    justify-content: center;
                    align-items: center;
                    font: 30px/1 $font;
                    font-weight: map-get($font-weights, boldd);
                    color: $textColor;
                }
            
                span {
                    display: block;
                    margin-top: 5px;
                    font: 13px/0.75 $font;
                    font-weight: map-get($font-weights, boldd);
                }
            }
    
            .header_heading {
                    max-width: 680px;
                    width: 100%;
                    margin: 65px 0 0 0;
                    @include font;
                    font-size: 90px;
                    line-height: 1;
                    font-weight: map-get($font-weights, extra);
                    color: $textColor;
                    position: relative;
                    z-index: 1;
    
                    &::after {
                        @include underline(380px,64px,0,0);
                    }
            }
    
            .header_text {
                margin-top: 47px;
                font: 400 20px/1 $font;
                line-height: 1.5;
                max-width: 850px;
                letter-spacing: 0.75;
                color: $textColor;
                white-space: pre-line;
            }
        }
    }

    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 150px;
        
        .section_text {
            @include font;
            font-size: 52px;
            font-weight: map-get($font-weights, boldd);
            color: $textColor;
            letter-spacing: 1.1;
            position: relative;
            margin-bottom: 48px;

            &::after {
                @include underline(237px,60px,9px,268px);
            }
        }

        .section_card_wrap {
            display: flex;
            justify-content: center;
            
            width: 1400px;
            height: 800px;
            margin-bottom: 300px;
            flex-direction: column;
            
            a{color:white;
                    font-size: 25px;}
            .section_card {
                display: flex;
                flex-direction: row;
                width: 918px;
                height: 530px;
                margin-right: 25px;
                padding: 20px;
                background-color: $sectionBackground;
                border-radius: 7px;

                &:last-child {
                    margin-right: 0px;
                }
                
                .section_card_img {
                    padding: 5px;
                    width: 450px;
                    height: 295px;
                    border-radius: 10px;
                }

                .section_card_heading {
                    @include font;
                    font-size: 30px;
                    font-weight: map-get($font-weights, boldd);
                    color: white;
                    margin: 15px auto;
                    position: relative;
                    z-index: 1;

                    .section_card_underline {
                        display: inline-block;
                        width: 100%;
                        height: 18px;
                        bottom: 0;
                        position: absolute;
                        z-index: -1;
                        background-color: $underlineColor;
                    }
                }

                .section_card_text {
                    font: 400 20px $font;
                    color: $sectionTextColor;
                    line-height: 1.5;
                    display: flex;
                    text-align: center;
	                align-items: center;
                    height: 100px;
                    margin: 30px 5px;
                }
            }
        }

        .section_banner {
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            bottom: -220px;
            max-width: 100%;
            background: $linear-gradient;
            width: 1200px;
            height: 180px;
            border-radius: 5px;

            .section_banner_heading {
                position: relative;
                margin: 0;
                @include font;
                font-size: 38px;
                font-weight: map-get($font-weights, extra);
                color: $textColor;
                margin: -20px 0 0 0;
                z-index: 2;

                &::after {
                    @include underline(80px,45px,4px,151px);
                }
            }

            .section_banner_text {
                display: block;
                font: 400 20px $font;
                color: $footerLogoColor;
                margin: 0;
                padding-top: 20px;
            }

            .section_banner_button {
                margin: -5px -10px 0 0;
                @extend .header_button;

                &:hover {
                    background-color: (darken($color: $buttonColor, $amount: 15%));
                    border: 2px solid red;
                    cursor: pointer;
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 300px;
        background-color: $footerBackground;
        margin: 0;
        z-index: 1;

        .footer-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            max-width: 1550px;

            .landing-logo {
                display: flex;
                align-items: center;
                margin-top: 50px;
            
                img {
                    margin: 0 20px 0 5px;
                    width: 55px;
                    height: 55px;
                }
            
                p {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font: 600 30px/1 $font;
                    color: $footerLogoColor;
                }

                span {
                    display: block;
                    margin-top: 5px;
                    font: 13px/0.75 $font;
                    font-weight: map-get($font-weights, boldd);
                }
            }

            .footer_text {
                margin: 0;
                padding: 124px 0 0 0;
                width: 380px;
                height: 150px;
                max-width: 100%;
                font: 400 17px/1.5 $font;
                color: $footerLogoColor;
            }

            .footer-cr {
                margin: 0;
                padding: 50px 10px 0 0;
                font: 400 20px $font;
                color: $footerLogoColor;
            }
        }
    }
}

.header_button {
    margin-top: 55px;
    width: 178px;
    height: 60px;
    background-color: $buttonColor;
    color: white;
    border: 0;
    padding: 0;
    border-radius: 4px;
    @include font;
    font-weight: map-get($font-weights, boldd);
    font-size: 23px;

    &:hover {
        background-color: (darken($color: $buttonColor, $amount: 15%));
        border: 2px solid red;
        cursor: pointer;
    }
}









