$headerBackground: url(../img/m-h-day.jpg) no-repeat;
$pageBackground: white;
$sectionBackground: #21232e;
$sectionTextColor: #b6c3ce;
$font: 'Hind', sans-serif;
$textColor: #2c2f3c;
$footerLogoColor: #c0c3ce;
$footerBackground: #21232E;
$linear-gradient: linear-gradient(45deg, #699902, #54844b 25%, #47757a 50%, #3b69a8 75%, #2c5ade 100%);
$buttonColor: #699900;
$underlineColor: #14a0c7;
